/* *{
    box-sizing: border-box;
} */

body{
    text-align: center;
    margin: 0;
    background-color: rgb(30, 30, 30);
}

h1{
    font-size: 2rem;
    color:white;
    margin: 0;
    padding: 10px 0;
    background-color: rgb(12, 187, 6);
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
}

#container{
    display: grid;
    margin: 0 auto;
    width: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.space{
    height:30px;
}

.btn{
    height: 220px;
    width: 220px;
    display: inline-block;
    margin: 10px;
    border-radius: 25%;
    box-shadow: 2px 2px #999;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.pressedAnimation {
    /* Specificity */
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
  }

.gameover{
    background-color: maroon;
    opacity: 0.5;
}

#difficulty, #secondary{
    height: 25px;
    background-color: white;
}

span, button{
    height:100%;
    font-weight: 800;
    border: none;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #990000;
    /* for hover */
    transition: all 1s;
    font-family: 'Yellowtail', cursive;
}

button:hover, .selected{
    color: white;
    background-color: rgb(12, 187, 6);
}

button:focus{
    outline: none;
}