body{
    text-align: center;
    background-color: white;
}

h1{
    font-size: 4rem;
    text-align: center;
    color:steelblue;
}

.container{
    display: block;
    margin: auto;
}

.btn{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px 20px 30px 20px;
    border: 15px solid black;
    border-radius: 25%;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.pressedAnimation {
    box-shadow: 5px 10px darkgray;
    background-color: grey;
  }